@font-face {
  font-family: 'SourceHanSerif';
  src: url('https://oss.cztv.com/uploads/2021-04-29/1619681802670688842_SourceHanSerifSC-Regular.ttf');
}
*{
	margin:0;
    padding:0;
    box-sizing: border-box
}
body,html{
    /* height: auto; */
    /* overflow-x: hidden; */
}
body,html,.app,.wrap{
	width:100%;
}
#app{
    /* overflow-x: hidden; */
}
body{
    font-family:"SourceHanSerif","Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    line-height: 25px;
}
.fade-enter,.fade-leave{
	opacity: 0;
}
.fade-enter-active,.fade-leave-active {
	transition:opacity 1s;
}

/* 页面 */
.page {
    /* position: absolute; */
    left: 250px;
    right: 0;
    top: 70px;
    /* bottom:0; */
    width: auto;
    padding:0px 40px 40px 260px;
    /* overflow-y: auto;  */
}
/* 面包屑 */
.bread-crumb{
	margin-bottom: 20px;
}
/* 分页 */
.pagination {
	margin-top: 20px;
}
.pagination.center {
	text-align: center;
}

/*margin && padding*/
.ma-r-10 {
	margin-right: 10px;
}


.el-message-box--center{
    max-height: 90%;
    overflow-y: auto !important;
}
